
body{
  margin:0;
}
ul{
   list-style:none;
    text-align: center;
    font-size: 18px
   }
a{
 text-decoration: none;
 color: black;
}
/* unvisited link */
a:link {
color: black;
}
/* mouse over link */
a:hover {

}
P{
font-family: 'Roboto', sans-serif;
  font-size:20px;
  color:black;
text-align:; text-align-last:left;

}


h1 {
font-family:Futura;
font-weight:bold;
font-size:45px;
color: #ffffff00;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: black;
text-align: center;
margin:0 auto;
padding-bottom: 10px;
padding-top: 10px;
}


#img1{
    padding: 0 0 0 0px;
    display: absolute;
  display: inline !important;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  margin: auto;
}
#img2{
  padding : 20px 0px 20px 20px;
  opacity: 1;
  width: 100%;
  max-width: 800px;
  height: auto;
}
#video{
  display:block;
 margin: 0 auto;
 padding-top: 30px;
}

#box1{
  padding : 30px 100px 30px 100px;
  opacity: 1;
  display: block;
 margin-left: auto;
 margin-right: auto;
    max-width: 720px;
}

nav{
font-family: 'Roboto', sans-serif;
font-size:15px;
color:black;
white-space: nowrap;
}
#updown{
  margin:0 auto;
  padding-top: 40px;
}

#logo1 {
opacity: 1;
position: absolute;
width: 60px;
height: 60px;
top: 20px;
left: 50%;
margin-left: -30px;
margin-right: auto;
display:inline;
}

  #footer{
  margin: 0;
  height: 40px;
  padding: 30px 0 30px 0;
    font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:black;
text-align:justify; text-align-last:center;
}


.jbMenu {
  background-color: white;
  padding-bottom: 25px;
  width: 100%;
}

.jbFixed {
  position: fixed;
  top: 0px;
}
#menu-work{
  float: left;
  margin: 0 0 0 100px;
  padding: 0 0 0 0;
}

#menu-about{
  float: right;
  position: relative;
  margin: 0 100px 0 0;
  padding: 0;
}

@media(max-width:769px){
  p{
    font-size:18px;
    text-align: center;
    text-align: left;
  }
  #img1{
    padding : 0 0 0 0px;
    display: inline !important;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
  }
  #img2{
    padding : 0 0 0 0px;
    display: inline !important;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
  }

  #box1{
    padding : 5px 0 5px 0;
  }
  #video{
   width : 380px
  }

  @media(max-width:640px){
    h1 {
      font-size:30px;
    }
    p{
      font-size:15px;
      text-align: center;
      text-align: left;
    }
    ul{
        font-size: 14px
       }
       #box1{
         padding : 5px 0 5px 20px;
         width: 90%;
       }
    #logo1 {
      width: 60px;
      height: 60px;
      top: 25px;
      left: 50%;
    margin-left: -30px;
    }
    #updown{
      padding-top: 50px;
  }

  #footer{
  padding: 30px 0px 30px 30px;
  font-size:13px;

  }
